<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Find a Car</title>
</head>
<body>
    <div class='container'>
        <h1>Job Board!</h1>

        <div class='container'>
          <h2 class='job_title'>{{ job.getTitle }}</h2>
          <p class='job_description'>{{ job.getDescription }}</p>
          <p class='job_contact'>{{ job.getContactInfo.getName }}</p>
          <p class='job_contact'>{{ job.getContactInfo.getPhone }}</p>
          <p class='job_contact'>{{ job.getContactInfo.getEmail }}</p>
        </div>

    </div>
</body>
</html>
